<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>

<body>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="text-center">
        <p><%= @nickname %>さんのマイページ</p>
      </div>
      <div class="text-center">
          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
              <% end %>
            <% else %>
              <%#= form_for(@current_user.relationships.build) do |f| %>
              <%= form_for(current_user.relationships.build, url:relationships_path ) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% @posts.each do |post| %>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text"><%= post.title %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a><%= link_to(post_path(post.id), class:"btn btn-sm btn-outline-secondary") do %>View</a><% end %>
                      <%# <a href="#" class="btn btn-outline-secondary" role="button">Link</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button> %>
                    </div>
                    <small class="text-muted"><a href="/users/<%= post.user.id %>"></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</body>