<div class="col">
  <div class="card shadow-sm">
    <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
    </svg> %>
    <%= image_tag post.image %>
    <div class="card-body">
      <p class="card-text"><%= post.title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a><%= link_to(post_path(post.id), class:"btn btn-sm btn-outline-secondary") do %>View</a><% end %>
          <% if user_signed_in? && current_user.id == post.user_id %>
            <a><%= link_to(edit_post_path(post.id), method: :get, class:"btn btn-sm btn-outline-secondary") do %>Edit</a><% end %>
            <%# <a href="#" class="btn btn-outline-secondary" role="button">Link</a>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button> %>
          <% end %>
        </div>
        <small class="text-muted"><%= post.user.nickname %></small>
      </div>
    </div>
  </div>
</div>